/*

  A Pure CSS3 animated 3D Super Mario Retro Icon without images
  Built on top of the "CSS 4d Framework" by Andreas Jacob

  This is an ALPHA
  Be aware of the inline-styles from hell and keep in mind this code is not in compliance with any CSS styleguide while in ALPHA
  
  The only supported Browser are Apple Safari 5 and Chrome 12+

*/
/*------------------------------------------------------------------
[CSS3 Stylesheet]

Project: CSS 4D - CSS Animation Core
Last change: 28.02.2013
Designed by: Andreas Jacob, http://cordobo.com/
Works in browsers: Safari 5+, Google Chrome 12
-------------------------------------------------------------------*/
/*

  A Pure CSS3 animated 3D Super Mario Retro Icon without images
  Built on top of the "CSS 4d Framework" by Andreas Jacob

  This is an ALPHA
  Be aware of the inline-styles from hell and keep in mind this code is not in compliance with any CSS styleguide while in ALPHA
  
  The only supported Browser are Apple Safari 5 and Chrome 12+

*/
.wrapper {
  border: 1px solid #ccc;
  height: 224px;
  padding: 20px;
  position: relative;
  width: 224px;
  -moz-box-shadow: -1px -1px 0 #666666;
  -webkit-box-shadow: -1px -1px 0 #666666;
  box-shadow: -1px -1px 0 #666666;
}
.wrapper:hover {
  background-color: #fff;
  opacity: 0.6;
  -moz-perspective: 200px;
  -moz-perspective-origin: 100px 100px;
  -moz-transition: all 1s ease-in-out;
  -moz-transform-style: preserve-3d;
  -webkit-perspective: 200;
  -webkit-transition: all 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
  /*
  perspective: 200;
  perspective-origin: 150 150;
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
  */

}
.wrapper:hover div > div {
  border: 1px solid #ddd;
}
.wrapper p {
  margin: auto 0;
}
#parent {
  height: 224px;
  margin: 0;
  width: 224px;
}
#subtext {
  height: 50px;
  margin: 10px auto;
  width: 264px;
}
#social-icons {
  clear: both;
  height: 50px;
  margin: 10px auto 40px;
  width: 264px;
}
#social-icons .left,
#social-icons .right {
  width: 200px;
  height: 50px;
}
#social-icons .left {
  float: left;
}
#social-icons .right {
  float: right;
  width: 54px;
}
#mario-retro-icon,
#mario-retro-icon div {
  position: absolute;
}
#mario-retro-icon {
  height: 224px;
  width: 224px;
  -moz-animation: spin 6s infinite linear;
  -moz-transform-origin: 50% 50% 0;
  -moz-backface-visibility: visible;
  -moz-transform-style: preserve-3d;
  -webkit-animation: spin 6s infinite linear;
  -webkit-transform-origin: 50% 50% 0;
  -webkit-backface-visibility: visible;
  -webkit-transform-style: preserve-3d;
  animation: spin 6s infinite linear;
  transform-origin: 50% 50% 0;
  backface-visibility: visible;
  transform-style: preserve-3d;
}
#mario-retro-icon:hover {
  -moz-animation: hoverSpin 6s infinite linear;
  -webkit-animation: hoverSpin 6s infinite linear;
  animation: hoverSpin 6s infinite linear;
}
#mario-retro-icon div {
  -moz-transform-style: preserve-3d;
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotatey(0);
  }
  to {
    -moz-transform: rotatey(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotatey(0);
  }
  to {
    -webkit-transform: rotatey(360deg);
  }
}
@-ms-keyframes spin {
  from {
    -ms-transform: rotatey(0);
  }
  to {
    -ms-transform: rotatey(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotatey(0);
  }
  to {
    transform: rotatey(360deg);
  }
}
@-moz-keyframes hoverSpin {
  from {
    -moz-transform: rotatex(0) rotatey(0) rotatez(0);
  }
  to {
    -moz-transform: rotatex(360deg) rotatey(360deg) rotatez(360deg);
  }
}
@-webkit-keyframes hoverSpin {
  from {
    -webkit-transform: rotatex(0) rotatey(0) rotatez(0);
  }
  to {
    -webkit-transform: rotatex(360deg) rotatey(360deg) rotatez(720deg);
  }
}
@-ms-keyframes hoverSpin {
  from {
    -ms-transform: rotatez(0);
  }
  to {
    -ms-transform: rotatez(360deg);
  }
}
@keyframes hoverSpin {
  from {
    transform: rotatez(0);
  }
  to {
    transform: rotatez(360deg);
  }
}
/*
@-moz-keyframes hoverSpin,
@-webkit-keyframes hoverSpin,
@-ms-keyframes hoverSpin,
@keyframes hoverSpin {
  from {
  	-moz-transform: rotateZ(0);
  	-webkit-transform: rotateZ(0);
  	-ms-transform: rotateZ(0);
  	}
  to   {
  	-moz-transform: rotateZ(360deg);
  	-webkit-transform: rotateZ(360deg);
  	-ms-transform: rotateZ(360deg);
  	}
}
*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*

CSS 4D Framework by Andreas Jacob
Author URL: http://cordobo.com/

V 0.2 (Alpha)
02/28/2013


A small CSS framework to create 3D animations with CSS

*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/**
  * The place where the magic starts
  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* This little sucker is the LOOP, culprit of all generated classes */
/* Height = h */
.h15 {
  height: 210px;
}
.h14 {
  height: 196px;
}
.h13 {
  height: 182px;
}
.h12 {
  height: 168px;
}
.h11 {
  height: 154px;
}
.h10 {
  height: 140px;
}
.h9 {
  height: 126px;
}
.h8 {
  height: 112px;
}
.h7 {
  height: 98px;
}
.h6 {
  height: 84px;
}
.h5 {
  height: 70px;
}
.h4 {
  height: 56px;
}
.h3 {
  height: 42px;
}
.h2 {
  height: 28px;
}
.h1 {
  height: 14px;
}
.h0 {
  height: 0px;
}
.h-1 {
  height: -14px;
}
.h-2 {
  height: -28px;
}
.h-3 {
  height: -42px;
}
.h-4 {
  height: -56px;
}
.h-5 {
  height: -70px;
}
.h-6 {
  height: -84px;
}
.h-7 {
  height: -98px;
}
.h-8 {
  height: -112px;
}
.h-9 {
  height: -126px;
}
.h-10 {
  height: -140px;
}
.h-11 {
  height: -154px;
}
.h-12 {
  height: -168px;
}
.h-13 {
  height: -182px;
}
.h-14 {
  height: -196px;
}
.h-15 {
  height: -210px;
}
/* Left = l */
.l15 {
  left: 210px;
}
.l14 {
  left: 196px;
}
.l13 {
  left: 182px;
}
.l12 {
  left: 168px;
}
.l11 {
  left: 154px;
}
.l10 {
  left: 140px;
}
.l9 {
  left: 126px;
}
.l8 {
  left: 112px;
}
.l7 {
  left: 98px;
}
.l6 {
  left: 84px;
}
.l5 {
  left: 70px;
}
.l4 {
  left: 56px;
}
.l3 {
  left: 42px;
}
.l2 {
  left: 28px;
}
.l1 {
  left: 14px;
}
.l0 {
  left: 0px;
}
.l-1 {
  left: -14px;
}
.l-2 {
  left: -28px;
}
.l-3 {
  left: -42px;
}
.l-4 {
  left: -56px;
}
.l-5 {
  left: -70px;
}
.l-6 {
  left: -84px;
}
.l-7 {
  left: -98px;
}
.l-8 {
  left: -112px;
}
.l-9 {
  left: -126px;
}
.l-10 {
  left: -140px;
}
.l-11 {
  left: -154px;
}
.l-12 {
  left: -168px;
}
.l-13 {
  left: -182px;
}
.l-14 {
  left: -196px;
}
.l-15 {
  left: -210px;
}
/* top = t */
.t15 {
  top: 210px;
}
.t14 {
  top: 196px;
}
.t13 {
  top: 182px;
}
.t12 {
  top: 168px;
}
.t11 {
  top: 154px;
}
.t10 {
  top: 140px;
}
.t9 {
  top: 126px;
}
.t8 {
  top: 112px;
}
.t7 {
  top: 98px;
}
.t6 {
  top: 84px;
}
.t5 {
  top: 70px;
}
.t4 {
  top: 56px;
}
.t3 {
  top: 42px;
}
.t2 {
  top: 28px;
}
.t1 {
  top: 14px;
}
.t0 {
  top: 0px;
}
.t-1 {
  top: -14px;
}
.t-2 {
  top: -28px;
}
.t-3 {
  top: -42px;
}
.t-4 {
  top: -56px;
}
.t-5 {
  top: -70px;
}
.t-6 {
  top: -84px;
}
.t-7 {
  top: -98px;
}
.t-8 {
  top: -112px;
}
.t-9 {
  top: -126px;
}
.t-10 {
  top: -140px;
}
.t-11 {
  top: -154px;
}
.t-12 {
  top: -168px;
}
.t-13 {
  top: -182px;
}
.t-14 {
  top: -196px;
}
.t-15 {
  top: -210px;
}
/* Width = w */
.w15 {
  width: 210px;
}
.w14 {
  width: 196px;
}
.w13 {
  width: 182px;
}
.w12 {
  width: 168px;
}
.w11 {
  width: 154px;
}
.w10 {
  width: 140px;
}
.w9 {
  width: 126px;
}
.w8 {
  width: 112px;
}
.w7 {
  width: 98px;
}
.w6 {
  width: 84px;
}
.w5 {
  width: 70px;
}
.w4 {
  width: 56px;
}
.w3 {
  width: 42px;
}
.w2 {
  width: 28px;
}
.w1 {
  width: 14px;
}
.w0 {
  width: 0px;
}
.w-1 {
  width: -14px;
}
.w-2 {
  width: -28px;
}
.w-3 {
  width: -42px;
}
.w-4 {
  width: -56px;
}
.w-5 {
  width: -70px;
}
.w-6 {
  width: -84px;
}
.w-7 {
  width: -98px;
}
.w-8 {
  width: -112px;
}
.w-9 {
  width: -126px;
}
.w-10 {
  width: -140px;
}
.w-11 {
  width: -154px;
}
.w-12 {
  width: -168px;
}
.w-13 {
  width: -182px;
}
.w-14 {
  width: -196px;
}
.w-15 {
  width: -210px;
}
/* Translate X */
.tx15 {
  -moz-transform: translatex(210px);
  -webkit-transform: translatex(210px);
  transform: translatex(210px);
}
.tx14 {
  -moz-transform: translatex(196px);
  -webkit-transform: translatex(196px);
  transform: translatex(196px);
}
.tx13 {
  -moz-transform: translatex(182px);
  -webkit-transform: translatex(182px);
  transform: translatex(182px);
}
.tx12 {
  -moz-transform: translatex(168px);
  -webkit-transform: translatex(168px);
  transform: translatex(168px);
}
.tx11 {
  -moz-transform: translatex(154px);
  -webkit-transform: translatex(154px);
  transform: translatex(154px);
}
.tx10 {
  -moz-transform: translatex(140px);
  -webkit-transform: translatex(140px);
  transform: translatex(140px);
}
.tx9 {
  -moz-transform: translatex(126px);
  -webkit-transform: translatex(126px);
  transform: translatex(126px);
}
.tx8 {
  -moz-transform: translatex(112px);
  -webkit-transform: translatex(112px);
  transform: translatex(112px);
}
.tx7 {
  -moz-transform: translatex(98px);
  -webkit-transform: translatex(98px);
  transform: translatex(98px);
}
.tx6 {
  -moz-transform: translatex(84px);
  -webkit-transform: translatex(84px);
  transform: translatex(84px);
}
.tx5 {
  -moz-transform: translatex(70px);
  -webkit-transform: translatex(70px);
  transform: translatex(70px);
}
.tx4 {
  -moz-transform: translatex(56px);
  -webkit-transform: translatex(56px);
  transform: translatex(56px);
}
.tx3 {
  -moz-transform: translatex(42px);
  -webkit-transform: translatex(42px);
  transform: translatex(42px);
}
.tx2 {
  -moz-transform: translatex(28px);
  -webkit-transform: translatex(28px);
  transform: translatex(28px);
}
.tx1 {
  -moz-transform: translatex(14px);
  -webkit-transform: translatex(14px);
  transform: translatex(14px);
}
.tx0 {
  -moz-transform: translatex(0px);
  -webkit-transform: translatex(0px);
  transform: translatex(0px);
}
.tx-1 {
  -moz-transform: translatex(-14px);
  -webkit-transform: translatex(-14px);
  transform: translatex(-14px);
}
.tx-2 {
  -moz-transform: translatex(-28px);
  -webkit-transform: translatex(-28px);
  transform: translatex(-28px);
}
.tx-3 {
  -moz-transform: translatex(-42px);
  -webkit-transform: translatex(-42px);
  transform: translatex(-42px);
}
.tx-4 {
  -moz-transform: translatex(-56px);
  -webkit-transform: translatex(-56px);
  transform: translatex(-56px);
}
.tx-5 {
  -moz-transform: translatex(-70px);
  -webkit-transform: translatex(-70px);
  transform: translatex(-70px);
}
.tx-6 {
  -moz-transform: translatex(-84px);
  -webkit-transform: translatex(-84px);
  transform: translatex(-84px);
}
.tx-7 {
  -moz-transform: translatex(-98px);
  -webkit-transform: translatex(-98px);
  transform: translatex(-98px);
}
.tx-8 {
  -moz-transform: translatex(-112px);
  -webkit-transform: translatex(-112px);
  transform: translatex(-112px);
}
.tx-9 {
  -moz-transform: translatex(-126px);
  -webkit-transform: translatex(-126px);
  transform: translatex(-126px);
}
.tx-10 {
  -moz-transform: translatex(-140px);
  -webkit-transform: translatex(-140px);
  transform: translatex(-140px);
}
.tx-11 {
  -moz-transform: translatex(-154px);
  -webkit-transform: translatex(-154px);
  transform: translatex(-154px);
}
.tx-12 {
  -moz-transform: translatex(-168px);
  -webkit-transform: translatex(-168px);
  transform: translatex(-168px);
}
.tx-13 {
  -moz-transform: translatex(-182px);
  -webkit-transform: translatex(-182px);
  transform: translatex(-182px);
}
.tx-14 {
  -moz-transform: translatex(-196px);
  -webkit-transform: translatex(-196px);
  transform: translatex(-196px);
}
.tx-15 {
  -moz-transform: translatex(-210px);
  -webkit-transform: translatex(-210px);
  transform: translatex(-210px);
}
/* Translate Y */
.ty15 {
  -moz-transform: translatey(210px);
  -webkit-transform: translatey(210px);
  transform: translatey(210px);
}
.ty14 {
  -moz-transform: translatey(196px);
  -webkit-transform: translatey(196px);
  transform: translatey(196px);
}
.ty13 {
  -moz-transform: translatey(182px);
  -webkit-transform: translatey(182px);
  transform: translatey(182px);
}
.ty12 {
  -moz-transform: translatey(168px);
  -webkit-transform: translatey(168px);
  transform: translatey(168px);
}
.ty11 {
  -moz-transform: translatey(154px);
  -webkit-transform: translatey(154px);
  transform: translatey(154px);
}
.ty10 {
  -moz-transform: translatey(140px);
  -webkit-transform: translatey(140px);
  transform: translatey(140px);
}
.ty9 {
  -moz-transform: translatey(126px);
  -webkit-transform: translatey(126px);
  transform: translatey(126px);
}
.ty8 {
  -moz-transform: translatey(112px);
  -webkit-transform: translatey(112px);
  transform: translatey(112px);
}
.ty7 {
  -moz-transform: translatey(98px);
  -webkit-transform: translatey(98px);
  transform: translatey(98px);
}
.ty6 {
  -moz-transform: translatey(84px);
  -webkit-transform: translatey(84px);
  transform: translatey(84px);
}
.ty5 {
  -moz-transform: translatey(70px);
  -webkit-transform: translatey(70px);
  transform: translatey(70px);
}
.ty4 {
  -moz-transform: translatey(56px);
  -webkit-transform: translatey(56px);
  transform: translatey(56px);
}
.ty3 {
  -moz-transform: translatey(42px);
  -webkit-transform: translatey(42px);
  transform: translatey(42px);
}
.ty2 {
  -moz-transform: translatey(28px);
  -webkit-transform: translatey(28px);
  transform: translatey(28px);
}
.ty1 {
  -moz-transform: translatey(14px);
  -webkit-transform: translatey(14px);
  transform: translatey(14px);
}
.ty0 {
  -moz-transform: translatey(0px);
  -webkit-transform: translatey(0px);
  transform: translatey(0px);
}
.ty-1 {
  -moz-transform: translatey(-14px);
  -webkit-transform: translatey(-14px);
  transform: translatey(-14px);
}
.ty-2 {
  -moz-transform: translatey(-28px);
  -webkit-transform: translatey(-28px);
  transform: translatey(-28px);
}
.ty-3 {
  -moz-transform: translatey(-42px);
  -webkit-transform: translatey(-42px);
  transform: translatey(-42px);
}
.ty-4 {
  -moz-transform: translatey(-56px);
  -webkit-transform: translatey(-56px);
  transform: translatey(-56px);
}
.ty-5 {
  -moz-transform: translatey(-70px);
  -webkit-transform: translatey(-70px);
  transform: translatey(-70px);
}
.ty-6 {
  -moz-transform: translatey(-84px);
  -webkit-transform: translatey(-84px);
  transform: translatey(-84px);
}
.ty-7 {
  -moz-transform: translatey(-98px);
  -webkit-transform: translatey(-98px);
  transform: translatey(-98px);
}
.ty-8 {
  -moz-transform: translatey(-112px);
  -webkit-transform: translatey(-112px);
  transform: translatey(-112px);
}
.ty-9 {
  -moz-transform: translatey(-126px);
  -webkit-transform: translatey(-126px);
  transform: translatey(-126px);
}
.ty-10 {
  -moz-transform: translatey(-140px);
  -webkit-transform: translatey(-140px);
  transform: translatey(-140px);
}
.ty-11 {
  -moz-transform: translatey(-154px);
  -webkit-transform: translatey(-154px);
  transform: translatey(-154px);
}
.ty-12 {
  -moz-transform: translatey(-168px);
  -webkit-transform: translatey(-168px);
  transform: translatey(-168px);
}
.ty-13 {
  -moz-transform: translatey(-182px);
  -webkit-transform: translatey(-182px);
  transform: translatey(-182px);
}
.ty-14 {
  -moz-transform: translatey(-196px);
  -webkit-transform: translatey(-196px);
  transform: translatey(-196px);
}
.ty-15 {
  -moz-transform: translatey(-210px);
  -webkit-transform: translatey(-210px);
  transform: translatey(-210px);
}
/* Translate Z */
.tz15 {
  -moz-transform: translatez(210px);
  -webkit-transform: translatez(210px);
  transform: translatez(210px);
}
.tz14 {
  -moz-transform: translatez(196px);
  -webkit-transform: translatez(196px);
  transform: translatez(196px);
}
.tz13 {
  -moz-transform: translatez(182px);
  -webkit-transform: translatez(182px);
  transform: translatez(182px);
}
.tz12 {
  -moz-transform: translatez(168px);
  -webkit-transform: translatez(168px);
  transform: translatez(168px);
}
.tz11 {
  -moz-transform: translatez(154px);
  -webkit-transform: translatez(154px);
  transform: translatez(154px);
}
.tz10 {
  -moz-transform: translatez(140px);
  -webkit-transform: translatez(140px);
  transform: translatez(140px);
}
.tz9 {
  -moz-transform: translatez(126px);
  -webkit-transform: translatez(126px);
  transform: translatez(126px);
}
.tz8 {
  -moz-transform: translatez(112px);
  -webkit-transform: translatez(112px);
  transform: translatez(112px);
}
.tz7 {
  -moz-transform: translatez(98px);
  -webkit-transform: translatez(98px);
  transform: translatez(98px);
}
.tz6 {
  -moz-transform: translatez(84px);
  -webkit-transform: translatez(84px);
  transform: translatez(84px);
}
.tz5 {
  -moz-transform: translatez(70px);
  -webkit-transform: translatez(70px);
  transform: translatez(70px);
}
.tz4 {
  -moz-transform: translatez(56px);
  -webkit-transform: translatez(56px);
  transform: translatez(56px);
}
.tz3 {
  -moz-transform: translatez(42px);
  -webkit-transform: translatez(42px);
  transform: translatez(42px);
}
.tz2 {
  -moz-transform: translatez(28px);
  -webkit-transform: translatez(28px);
  transform: translatez(28px);
}
.tz1 {
  -moz-transform: translatez(14px);
  -webkit-transform: translatez(14px);
  transform: translatez(14px);
}
.tz0 {
  -moz-transform: translatez(0px);
  -webkit-transform: translatez(0px);
  transform: translatez(0px);
}
.tz-1 {
  -moz-transform: translatez(-14px);
  -webkit-transform: translatez(-14px);
  transform: translatez(-14px);
}
.tz-2 {
  -moz-transform: translatez(-28px);
  -webkit-transform: translatez(-28px);
  transform: translatez(-28px);
}
.tz-3 {
  -moz-transform: translatez(-42px);
  -webkit-transform: translatez(-42px);
  transform: translatez(-42px);
}
.tz-4 {
  -moz-transform: translatez(-56px);
  -webkit-transform: translatez(-56px);
  transform: translatez(-56px);
}
.tz-5 {
  -moz-transform: translatez(-70px);
  -webkit-transform: translatez(-70px);
  transform: translatez(-70px);
}
.tz-6 {
  -moz-transform: translatez(-84px);
  -webkit-transform: translatez(-84px);
  transform: translatez(-84px);
}
.tz-7 {
  -moz-transform: translatez(-98px);
  -webkit-transform: translatez(-98px);
  transform: translatez(-98px);
}
.tz-8 {
  -moz-transform: translatez(-112px);
  -webkit-transform: translatez(-112px);
  transform: translatez(-112px);
}
.tz-9 {
  -moz-transform: translatez(-126px);
  -webkit-transform: translatez(-126px);
  transform: translatez(-126px);
}
.tz-10 {
  -moz-transform: translatez(-140px);
  -webkit-transform: translatez(-140px);
  transform: translatez(-140px);
}
.tz-11 {
  -moz-transform: translatez(-154px);
  -webkit-transform: translatez(-154px);
  transform: translatez(-154px);
}
.tz-12 {
  -moz-transform: translatez(-168px);
  -webkit-transform: translatez(-168px);
  transform: translatez(-168px);
}
.tz-13 {
  -moz-transform: translatez(-182px);
  -webkit-transform: translatez(-182px);
  transform: translatez(-182px);
}
.tz-14 {
  -moz-transform: translatez(-196px);
  -webkit-transform: translatez(-196px);
  transform: translatez(-196px);
}
.tz-15 {
  -moz-transform: translatez(-210px);
  -webkit-transform: translatez(-210px);
  transform: translatez(-210px);
}
.rot0 {
  -moz-transform: rotatey(0deg);
  -webkit-transform: rotatey(0deg);
  transform: rotatey(0deg);
}
.rot90 {
  -moz-transform: rotatey(90deg);
  -webkit-transform: rotatey(90deg);
  transform: rotatey(90deg);
}
.rot-90 {
  -moz-transform: rotatey(-90deg);
  -webkit-transform: rotatey(-90deg);
  transform: rotatey(-90deg);
}
.rot180 {
  -moz-transform: rotatey(180deg);
  -webkit-transform: rotatey(180deg);
  transform: rotatey(180deg);
}
/* Orange, Skin color, Green, DEBUG (yellow, pink) */
.o {
  background-color: #fe3000;
}
.s {
  background-color: #feb644;
}
.g {
  background-color: #a48b00;
}
.y {
  background-color: yellow;
}
/*  DEBUG */
.pink {
  background-color: pink;
}
/*  DEBUG */
